
.search-bar-container {
    position: relative;
    top: 16%;
    
    z-index: 999;
  }
  
  .search-bar-container {
    
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 33px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-bar-container :focus {
      outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .search-bar-container ::placeholder {
    color: #999;
  }
  
  .search-bar-container ::-webkit-input-placeholder {
    color: #999;
  }
  
  .search-bar-container :-moz-placeholder {
    color: #999;
  }
  
  .search-bar-container ::-moz-placeholder {
    color: #999;
  }
  
  .search-bar-container :-ms-input-placeholder {
      color: #999;
  }
  
  
  .search-bar-container {
    background-color: #a2b9bc;
    position: absolute;
    left: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    left: 90%;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .clear-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
  }
  
  .clear-icon:hover {
    color: #333;
  }
  
  

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #555;
    float: right;
    font-size: 20px;
    font-weight: bold; 
    cursor: pointer;
}

.close:hover {
    color: #000; 
}


table {
    position: relative;
    top: 8%;
    
    left: 19.3%;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: center; 
}

th {
    background-color: #f2f2f2; 
    color: #555; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #f2f2f2; 
}


.st{
    position: relative;
    left: 20%;

}

.di{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #a78359; 
    color: #fff; 
    padding: 20px;
    border-bottom:  black  12px;
    height: 60px;
}

.autocomplete{
    color: #000000;
}
